$c-grey : #212121;
$c-red : #F25F5C;
$c-blue : #17BEBB;
$c-green : #7fb069;

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0px;
}

.fixed-action-btn{
    i.ion-md-menu{
        margin: 0!important;
        font-size: 26px;
    }
    ul {
        i{
            font-size: 18px;
            margin: 0!important;
        }
    }
}

.full{
    height: 100%;
}

.icon{
    margin: 5px;
}

.breadcrumb::before{
    content: "\f284"!important;
    font-family: 'Ionicons'!important;
}

#vertical-tabs{
    background-color: $c-blue;
    padding: 0px!important;
    a{
        color: #ffffff;
        padding: 16px;
        display: block;
        text-align: center;
        transition: 0.75s;
        background-color: $c-blue;
        border-left: $c-blue 5px solid;
        &:hover{
            background-color: lighten($c-grey,10%);
            transition: 0.75s;
        }
    }
    .active{
        background-color: $c-grey;
        color: $c-blue;
        border-left: $c-green 5px solid;
    }
    i{
        font-size: 32px;
    }
}

.collection-item{
    i{
        margin-right: 5px;
    }
    &:hover{
        color: $c-blue;
        cursor: pointer;
        transition: 0.5s;
    }
}

#content{
    overflow-y: scroll;
    background-color: $c-grey;
    padding: 16px;
}

#viewer{
    overflow-y: scroll;
    background-color: $c-red;
    iframe {
        width: 100%;
        height: 95vh;
        display: block;
    }
}
